.head {
   position: relative;
   height: 100vh;
   display: flex;
   justify-content: center;
  align-items: center;
  flex-direction: column;
}

#404 {
  height: 50%;
  width: auto;
}

.head:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/seattle.jpeg');
    width: 100%;
    height: 100%;
    opacity : 0.9;
    z-index: -1;
    background-size: cover;
}
.icons-ul {
  text-align: center;
  margin: 25px;
  padding: 0;
}
.icons-ul li {
 display: inline;
 list-style-type: none;
 margin: 0 10px;
}
.icons-ul li a {
  color: #fff;
  text-decoration: none;
}


.btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 18px;
    margin-right: 35px;
    display: flex;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    overflow: hidden;
}

.modal-content {
  text-align: center;
  background-color: #282828;
  color: white;
  /*color: #696969;*/
  font-family: Menlo;
}



.btn2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 18px;
  margin-left: 35px;
  padding: 10px 10px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: justify;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  overflow: hidden;
  font-family: Menlo;

}

.btn3 {
  text-align: center;
  padding: 11px 10.5px;
  margin-bottom: 7px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  font-family: Menlo;
}
.btn3:hover {
  background-color: #202020;
  border-color: #fff;
}
.btn2:hover {
  background-color: #202020;
  border-color: #fff;
}
.btn:hover {
  background-color: #202020;
  border-color: #fff;
}

/*.projectthumb:hover div {
  background: url("img/hoc2.jpg");
  width: 380px;
  height: 300px;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 1%;

  margin-bottom: 2.75em;
  opacity: 0.6;
}*/
/*.projectthumb div {
  background: url("img/wyncodesquad2.jpg");
  width: 380px;
  height: 300px;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 1%;

  margin-bottom: 2.75em;
  opacity: 0.6;
}*/

.divrandom {
  background: url("img/coding1.jpeg") no-repeat center center;
  background-size: cover;
  transition: .5s;
  width: 480px;
  height: 230px;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 1%;

  margin-bottom: 2.75em;
  opacity: 0.8;
  padding-top: 1em;
}

.divrandom:hover {
  background: url("img/hoc.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.7;
  padding-top: 1em;
  /*width: 380px;
  height: 300px;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 1%;*/

  /*margin-bottom: 2.75em;
  opacity: 0.6;*/
}

.projectthumb img {
  visibility: hidden;
}
